[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.12.14"
charset-normalizer = "==3.4.2"
idna = "==3.10"
requests = "==2.32.4"
urllib3 = "==2.5.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
